*{
    margin: 0;
    padding: 0;
}
.loginbox{
    width: 50%;
    color: white;
    background-color: black;
}
.box {
    width: 313px;
    height: 363px;
    /* background-color: black; */
    position: absolute;
    top: 19%;
    left: 12.5%;
    border: solid white 2px;
    border-radius: 60px;
    padding-left: 29px;
}
.box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    margin-bottom: 23px;
    font-size: 16px;
    
}
.box h1{
    text-align: center;
    margin-bottom: 9px;
    margin-top: 10px;
}
.loginpage{
    display: flex;
}
.image{
  width: 50vw;
  width: 705px;
  height: 108vh;
}
.backgroundimg{
    background-image: url('backgroundp1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    color: #fff;
}
.row g-3 align-items-center{
    padding-top: 5px;
    padding-bottom: 5px;
}
.box p{
    font-size: 20px;
    font-weight: 200;
}
.box label{
    font-size: 20px;
    font-weight: 200;
}
.box input[type="submit"]
{
    height: 35px;
background: rgb(227 22 51);
border: none;
color: #fff;
font-size: 17px;
width: 90%;
}
.box input[type="submit"]:hover{
    background-color: blue;
    color: black;
    cursor: pointer;
}
.form{
    margin-top: 38px;
}
#smedia img{
    margin: 5px 5px;
     background-color: white;
     height: 25px;
      width: 27px; 
 }
 #smedia img:hover{
    cursor: pointer;
 }
 #smedia{
     width: 98%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .backgroundimg h1{
    color: #fff;
    
    padding-top: 20%;
        font-size: 50px;
        text-align: initial;
        padding-left: 7%;
    }
    .backgroundimg h2{
        text-align: initial;
        padding-left: 7%;
    }
    .backgroundimg p{
        text-align: initial;
        padding-left: 7%;
        font-size: 18px;
    }
 .backgroundimg input[type="button"]{
    height: 35px;
    background: rgb(22 25 227);
    border: none;
    margin-right: 62%;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    width: 24%;
 }
 .backgroundimg input[type="button"]:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(227 22 51);
 }
 .help input[type="button"]{
    height: 30px;
    background: grey;
    border: none;
    margin-right: 68%;
    color: #fff;
    font-size: 17px;
    width: 17%;
    margin-top: -10px;
 }
/* .loginpage{
    display: flex;
} */